<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="eLibrary" verbose="1">
    <test name="elibrary.pages">
        <classes>
            <class name="elibrary.featureTests.AdminPageTest"/>
            <class name="elibrary.featureTests.LoginPageTest"/>
            <class name="elibrary.featureTests.ThesisPageTest"/>
            <class name="elibrary.featureTests.RegisterPageTest"/>
            <class name="elibrary.featureTests.AdminThesisPageTest"/>
        </classes>
    </test>
</suite>

